[submodule "Drivers/libvoltbro"]
	path = Drivers/libvoltbro
	url = git@github.com:solid-sinusoid/libvoltbro.git
[submodule "Drivers/libcxxcanard"]
	path = Drivers/libcxxcanard
	url = git@github.com:solid-sinusoid/libcxxcanard.git
[submodule "Drivers/cyphal_types/public_regulated_data_types"]
	path = Drivers/cyphal_types/public_regulated_data_types
	url = git@github.com:OpenCyphal/public_regulated_data_types.git
[submodule "Drivers/cyphal_types/voltbro"]
	path = Drivers/cyphal_types/voltbro
	url = git@github.com:solid-sinusoid/cyphal-types.git
[submodule "VBBoot"]
	path = VBBoot
	url = git@github.com:solid-sinusoid/VBBoot.git
